@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

p {
  margin: 15px 0;
  line-height: 1.8;
}

.contents-list {
  margin: 15px 0;
  line-height: 1.8;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: #333;
}

img {
  max-width: 100%;
  border-radius: 10px;
}

.small-badge-img {
  width: 15px;
  height: 15px;
  border-radius: 10px;
}

header {
  background: steelblue;
  color: #fff;
  padding: 5px;
  margin-bottom: 40px;
}

footer {
  background: steelblue;
  color: #fff;
  padding: 5px;
  margin-top: 40px;
}

header a {
  color: #fff;
}

footer a {
  color: #fff;
}

.container {
  max-width: 1152px;
  margin: auto;
  overflow: auto;
  padding: 0 10px;
  text-align: center; /* Center align all text */
  align-items: center;
}

.btn {
  display: inline-block;
  background: steelblue;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  transform: scale(0.98);
}

.btn-back {
  background: #f4f4f4;
  color: #000;
  margin-bottom: 20px;
  float: none;
}

.post-page-nav-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.nav-btn-container-prev {
  min-width: 154.7px;
}
.nav-btn-container-next {
  min-width: 124.4px;
}

.btn-prev {
  display: flex;
  align-items: center;
}

.btn-prev h4 {
  margin-right: 0.5rem; /* add a small margin to separate the icon and text */
}

.btn-back-2 {
  display: flex;
  align-items: center;
  /*-ms-transform: translate(-50%, -50%);*/
  /*margin-left: 50%;*/
}

.btn-back-2 h4 {
  margin-right: 0.5rem; /* add a small margin to separate the icon and text */
}

.btn-next {
  display: flex;
  align-items: center;
}

.btn-next h4 {
  margin-left: 0.5rem; /* add a small margin to separate the icon and text */
}

.posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 30px;
}

.card {
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-page {
  padding: 15px 30px;
}

.post-title {
  margin: 10px 0;
}

.post-date {
  background: #f4f4f4;
  margin-bottom: 20px;
  padding: 3px 10px;
}

@media (max-width: 1024px) {
  .posts {
    grid-template-columns: repeat(2, 1fr);
  }
}


input {
  font-size: 110%;
  line-height: 1.8;
  width: 100%;
  resize: none;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

input:focus {
  outline: none;
  border-color: steelblue;
  box-shadow: 0 0 0 2px steelblue;
}

textarea {
  font-size: 110%;
  line-height: 1.8;
  width: 100%;
  resize: none;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

textarea:focus {
  outline: none;
  border-color: steelblue;
  box-shadow: 0 0 0 2px steelblue;
}

textarea::-webkit-scrollbar {
  width: 5px;
}

textarea::-webkit-scrollbar-thumb {
  background-color: steelblue;
  border-radius: 1px;
}

textarea::-webkit-scrollbar-track {
  background-color: #f4f4f4;
  border-radius: 5px;
}

.social-icons {
  padding-left: 30px;
  padding-top: 5px;
  display: flex;
}

.icon {
  height: 40px;
  padding-left: 30px;
}

.title-and-links {
  display: flex;
}

.social {
  padding-left: 30px;
  padding-top: 5px;
  display: flex;
  flex-wrap: wrap; /* Allow flex items to wrap to the next line */
}

.social-links {
  padding-top: 5px;
  display: flex;
}

.social-link {
  padding-left: 30px;
}

.skeleton {
  background-color: #f2f2f2;
  border-radius: 4px;
  animation: skeleton-loading 1s infinite alternate;
  width: 100%;
  height: 1em;
}

@keyframes skeleton-loading {
  0% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.4;
  }
}

table {
  width: 90%;
  max-width: 100%;
  border-collapse: collapse;
  border-radius: 10px;
  text-align: center; /* Center align table content */
  table-layout: fixed; /* Fix the table layout */
  margin: 15px auto 20px; /* Center the table horizontally with auto margin */
}

table th,
table td {
  padding: 10px;
  text-align: center; /* Center align table cell content */
  border-bottom: 1px solid #ccc;
}

table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

table tr:hover {
  background-color: #f9f9f9;
}

@media (max-width: 526px) {
  table {
    width: 100%;
    overflow-x: auto; /* Enable horizontal scrolling */
  }

  table td {
    padding: 3px; /* Reduce padding on smaller screens */
  }
}
